/*SPINNER*/

.footer__section--button:active {
  border-color: var(--bg-celeste);
  color: var(--bg-celeste);
}

.footer__section--button:active {
  border-color: var(--bg-celeste);
  background-color: var(--bg-celeste);
  color: var(--bg-blanco);
}

.footer__section--button {
  font-family: "Montserrat", sans-serif;
  color: var(--bg-grisOscuro);
  background-color: var(--bg-blanco);
  padding: 16px;
  border-radius: var(--bd-radius1);
  cursor: pointer;
  border: 2px solid var(--bg-grisOscuro);
  text-decoration: none;
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
}

.footer__section--button {
  padding: 12px;
  /* margin: 0 2px; */
  /* gap: 10px; */
  border-radius: var(--bd-pag);
}

.section4__div2 {
  display: none;
}

.footer {
  display: none;
}

.main__section3 {
  display: none;
}

.next {
  margin-left: 4px;
}

@media (min-width: 1440px) {
  .footer {
    display: flex;
  }

  .footer__section {
    display: flex;
    gap: 7px;
  }
}
